<launch>
  <node pkg="carf" type="main.py" name="carf" output="screen"/>
  
  <arg name="language" default="en_GB"/>
      <param name="/language" value="$(arg language)" />
  <arg name="config_path" default="$(find robot_behaviour)/src/robot_behaviour/config/sentences"/>
      <param name="/config_path" value="$(arg config_path)" />
  <arg name="user_id" default="0000" />
      <param name="/user_id" value="$(arg user_id)" />
  <arg name="session_id" default="0000" />
      <param name="/session_id" value="$(arg session_id)" /> 
  <arg name="objective" default="ascending" />
      <param name="/objective" value="$(arg objective)" /> 
  <arg name="with_feedback" default="True" />
      <param name="/with_feedback" value="$(arg with_feedback)" />
  <arg name="timeout" default="15" />
      <param name="/timeout" value="$(arg timeout)" />


 <!--Here are all the robot movements needed -->

  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p11.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p12.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p13.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p14.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p15.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p21.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p22.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p23.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p24.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p25.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p31.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p32.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p33.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p34.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p35.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p41.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p42.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p43.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p44.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/p45.yaml" />

  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c11.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c12.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c13.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c14.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c15.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c21.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c22.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c23.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c24.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c25.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c31.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c32.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c33.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c34.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c35.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c41.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c42.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c43.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c44.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/c45.yaml" />

  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o11.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o12.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o13.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o14.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o15.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o21.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o22.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o23.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o24.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o25.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o31.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o32.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o33.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o34.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/o35.yaml" />

  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/sr2.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/sr3.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/sr4.yaml" />

  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s11.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s12.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s13.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s14.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s15.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s21.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s22.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s23.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s24.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s25.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s31.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s32.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s33.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s34.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/s35.yaml" />

  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss11.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss12.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss13.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss14.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss15.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss21.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss22.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss23.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss24.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss25.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss31.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss32.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss33.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss34.yaml" />
  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/ss35.yaml" />

  <rosparam command="load" file="$(find robot_behaviour)/src/robot_behaviour/config/movements/rest.yaml" /> 



 

</launch>
